* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
}

/* Header */
header {
    height: 100px;
    display: flex; /* Layout flexível */
    align-items: center; /* Alinha verticalmente os elementos */
    justify-content: space-between; /* Empurra logo para a esquerda e nav para a direita */
    border-bottom: solid 2px #3c90ff8a;
}

#logo img {
    width: 304px;
    margin-left: 250px;
    margin-right: auto; /* Empurra os links para a direita */
}

/* nav */

ul#nav {
    display: flex; /* Links em linha */
    gap: 20px; /* Espaço entre links */
    list-style: none;
}

ul#nav a {
    font-size: 1em;
    text-decoration: none;
    color: #131313;
    padding: 10px 15px;
    transition: color 0.3s ease;
    position: relative;
    top: 1px;
    margin-right: 300px;
    padding: 0;
}

ul#nav a:hover {
    color: #3C90FF;
}

/* Content */

.content {
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 200px); /* Garante que o conteúdo ocupe o espaço restante abaixo do header */
}

.content h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.content button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #3C90FF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.content button:hover {
    background-color: #297acc;
}

.content b {
    color: #3C90FF;
}

footer {
    width: 100%;
    background-color: #131313;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 120px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #3C90FF;
}

.footer-logo img {
    width: 150px;
}

.footer-info {
    text-align: right;
}

.language-button {
    background: none;
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.language-button:hover {
    background-color: #3C90FF;
}

.footer-info p {
    margin: 0;
    font-size: 0.85em;
    margin-top: 5px;
}


